{% extends 'base.html' %}

{%block content %}

<h4>Seleccione una opcion:</h4>
<hr></hr>
<nav>
    <ul>
        <li>
            <a href = "/tabla">Tabla general de variables</a>
        </li>
        <li>
            <a href = "/variables">Variables empleadas para el analisis</a>
        </li>
        <li>
            <a href = "/r_salud">Resultados del estudiante por salud</a>
        </li>
        <li>
            <a href = "/r_horas">Resultados del estudiante por horas de estudio</a>
        </li>
        <li>
            <a href = "/r_inter">Resultados del estudiante por acceso al internet</a>
        </li>
        <li>
            <a href = "/r_borrachera">Resultados del estudiante por consumo de alcohol</a>
        </li>
        <li>
            <a href = "/r_resi">Resultados del estudiante por residencia</a>
        </li>
        <li>
            <a href = "/r_pisados">Resultados del estudiante por relacion amorosa</a>
        </li>
        <li>
            <a href = "/r_fisitonazo">Resultados del estudiante por salidas con amigos</a>
        </li>
    </ul>
</nav>
{% endblock %}