<center>
<h1>Hola</h1>
<h2>Aqui esta el codigo del analisis de las notas</h2>
<h2>Haga clic en la imagen para acceder:
</h2>
<a href="https://colab.research.google.com/drive/15H71b1NiyCd8J6UGJZ4jUJU_K68nxBME?usp=share_link"><img src="https://ruslanmv.com/assets/images/posts/2022-01-24-How-to-connect-Google-Colab-to-your-computer/colab.png"></a>
</center>
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">

    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022 <a href="https://github.com/IMCueto">IMCueto - Kirbo</a>.</strong>
    github <img src = "https://pbs.twimg.com/profile_images/1344041284080525313/djZPUg0W_400x400.jpg" width ="64" height = "64"><img src = "https://cdn-icons-png.flaticon.com/512/25/25231.png" width ="50" height = "50">
  </footer>